* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #293c7f, #be82f9);
}

/* Tarjeta contenedora */
form {
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.82);
    width: 320px;
    text-align: center;
}

/* Título */
h1 {
    color: white;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

/* Label */
label {
    font-size: 18px;
    color: #000000;
}

/* Input */
input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    outline: none;
}

/* Botón */
button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background: #be82f9;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

/* Hover botón */
button:hover {
    background: #293c7f;
}